[project]
name = "shipr"
version = "0.1.0"
description = "Add your description here"
authors = [
    { name = "Paul-Sees-Solutions", email = "79617825+Paul-Sees-Solutions@users.noreply.github.com" }
]
readme = "README.md"
requires-python = ">= 3.10"
dependencies = [
    'flaskwebgui @ git+https://github.com/pawrequest/flaskwebgui',
    "suppawt",
    'pydantic',
    'fastapi',
    'sqlmodel',
    "aiohttp",
#    "python-dotenv",
#    "zeep",
    'combadge[zeep]',
    'thefuzz',
    'loguru',
    'python-multipart',
#    "pypdf",
]
[project.optional-dependencies]
dev = [
    "datamodel-code-generator",
    "pytest",
    "pytest-asyncio",
    "pyinstaller",
]


[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[tool.rye]
managed = true
dev-dependencies = [
    "datamodel-code-generator",
    "pytest",
    "pytest-asyncio",
    "pyinstaller",
]

[tool.hatch.metadata]
allow-direct-references = true
