[project]
name = "shipr"
version = "0.1.0"
description = "Add your description here"
authors = [
    { name = "Paul-Sees-Solutions", email = "79617825+Paul-Sees-Solutions@users.noreply.github.com" }
]
dependencies = [
    'sqlmodel',
    'fastuipr',
    "pydantic",
    "aiohttp",
    "python-dotenv",
    "zeep",
    'combadge[zeep]',
    "datamodel-code-generator",
    'thefuzz',
    'loguru',
    'pydantic',
    'python-multipart',
]

readme = "README.md"
requires-python = ">= 3.10"

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[tool.rye]
managed = true
dev-dependencies = [
    "pytest",
    "pytest-asyncio",
    "pyinstaller",
]

[tool.hatch.metadata]
allow-direct-references = true
