[project]
name = "shipaw"
version = "0.1.7"
description = "Add your description here"
authors = [
    { name = "pawrequest", email = "shipaw+pawrequest@users.noreply.github.com" }
]
readme = "README.md"
requires-python = ">= 3.12"
dependencies = [
    'flaskwebgui @git+https://github.com/pawrequest/flaskwebgui',
    'suppawt @ git+https://github.com/pawrequest/suppawt',
    'pawdantic @ git+https://github.com/pawrequest/pawdantic',
    'combadge[zeep]',
    'thefuzz',
    'loguru',
    'python-multipart',
    'pydantic-settings',
#    'fastapi',
#    'sqlmodel',
#    "aiohttp",
    'pydantic-extra-types',
]


#[build-system]
#requires = ["hatchling"]
#build-backend = "hatchling.build"


[tool.hatch.metadata]
allow-direct-references = true

[tool.ruff]
line-length = 120
extend-select = ["Q", "RUF100", "UP"]
flake8-quotes = {inline-quotes = "single", multiline-quotes = "double"}
format.quote-style="single"